@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lato', sans-serif;
}
.custom-main .loader {
  height: 5px;
  background: transparent linear-gradient(91deg, #319795 0%, #3182ce 100%) 0% 0%
    no-repeat padding-box;
}

.custom-main .header-shadow {
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 0px 0px 12px 12px;
}

.custom-bg {
  background: transparent linear-gradient(141deg, #ebf4ff 0%, #e6fffa 100%) 0%
    0% no-repeat padding-box;
  opacity: 1;
}

.main-heading {
  text-align: center;
  font-size: 32px;
  letter-spacing: 1.26px;
  color: #2d3748;
  opacity: 1;
  margin-top: 12px;
}

.c-btn {
  text-align: center;
  font: normal normal 600 14px/17px Lato;
  letter-spacing: 0.84px;
  color: #e6fffa;
  background: transparent linear-gradient(95deg, #319795 0%, #3182ce 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 12px;
}

.content-box {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px -1px 3px #00000033;
  border-radius: 12px 12px 0px 0px;
  margin-top: -40px;
  z-index: 999999;
  position: relative;
}

.content-heading {
  text-align: center;
  color: #4A5568;
  font-size: 21px;
}

.custom-list {
  /* margin-top: -90px; */
}

.custom-list-2 {
  background: rgba(230, 255, 250, 1);
}

.bullet-point {
  font-size: 8rem;
  color: #718096
}

.tabs {
  cursor: pointer;
  padding-top: 20px;
  margin-bottom: 30px;
}
.tabs .tab-item {
  color: rgba(49, 151, 149, 1);
  border: 1px solid rgba(203, 213, 224, 1);
  padding: 10px 15px;
}
.tabs .tab-item:hover {
  color: #FFFFFF;
  background: rgba(129, 230, 217, 1) 0% 0% no-repeat padding-box;

}
.tab-first-item {
  border-radius: 12px 0px 0px 12px;
}
.tab-last-item {
  border-radius: 0px 12px 12px 0px;
}