<template>
  <div class="custom-bg custom-main">
    <div class="loader"></div>
    <div class="py-5 pr-4 flex items-center justify-end bg-white header-shadow hover:underline" style="color: #319795;">
      Login
    </div>
    <p class="main-heading">Define Job <br/> website</p>
    <img class="w-full" :src="require('~/assets/images/agreement.svg')" />
    <div class="bg-white px-4 content-box border-b-2">
      <button class="bg-blue text-white c-btn px-2 py-4 w-full mt-6 mb-14">Kostenlos Registrieren</button>
    </div>

    <div class="bg-white">
      <div class="px-4 ">
        <div class="flex justify-center tabs">
          <div class="tab-item tab-first-item">Arbeitnehmer</div>
          <div class="tab-item">Arbeitgeber</div>
          <div class="tab-item tab-last-item">Temporärbüro</div>
        </div>

        <h2 class="content-heading my-3">Drei einfache Schritte <br/> zu deinem neuen Job</h2>
        <div class="flex justify-center items-center">
          <img class="mt-3 ml-10" :src="require('~/assets/images/1.svg')" />
        </div>
        <p class="custom-list">
          <span class="bullet-point">1.</span>
          <span class="ml-8" style="color: #718096;">Erstellen dein Lebenslauf</span>
        </p>
      </div>
    </div>
    <div class="custom-list-2 px-4">
      <p class="">
        <span class="bullet-point ml-5">2.</span>
        <span class="ml-4" style="color: #718096;">Erstellen dein Lebenslauf</span>
      </p>
      <div class="flex justify-center items-center">
        <img class="mt-3 ml-10 mb-10" :src="require('~/assets/images/2.svg')" />
      </div>
    </div>
    <div class="px-4 bg-white">
      <p class="custom-list">
        <span class="bullet-point ml-10">3.</span>
        <span class="ml-4" style="color: #718096;">Erstellen dein</span>
      </p>
      <div class="flex justify-center items-center">
        <img class="mt-3 ml-7" :src="require('~/assets/images/3.svg')" />
      </div>
    </div>


  </div>
</template>

<script>
export default {
  name: 'IndexPage'
}
</script>
